@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 25% 12%; /* charcoal */
    --foreground: 210 20% 96%; /* near-white */
    --card: 220 28% 6%;
    --card-foreground: 210 18% 92%;
    --popover: 220 28% 6%;
    --popover-foreground: 210 18% 92%;
    --primary: 268 88% 62%; /* luxe violet accent */
    --primary-foreground: 0 0% 100%;
    --secondary: 225 25% 12%; /* deep slate panels */
    --secondary-foreground: 210 20% 88%;
    --muted: 220 18% 16%;
    --muted-foreground: 215 16% 65%;
    --accent: 202 100% 50%; /* cyan glow if needed */
    --accent-foreground: 210 20% 96%;
    --destructive: 3 94% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 18% 18%;
    --input: 220 18% 22%;
    --ring: 268 88% 62%;
    --radius: 8px;
  }

  .light:root {
    --background: 0 0% 100%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 268 88% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 84% 5%;
    --muted: 210 40% 94%;
    --muted-foreground: 215 28% 35%;
    --accent: 202 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 94% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 268 88% 62%;
  }
}
